<%- include('partials/header') -%>

<header class="py-10">

    <div class="mx-auto max-w-5xl px-8 sm:px-6 lg:px-12">
        <h1 class="text-3xl font-bold tracking-tight text-white">Your Exercise Logs</h1>
    </div>

</header>

</div>




<main class="-mt-32">

    <div class="mx-auto max-w-5xl px-4 pb-12 sm:px-6 lg:px-8">
        <!-- Your content -->
        <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
            <div class="relative rounded border border-dashed border-gray-400 opacity-75">
              
              <div style="margin: auto; padding-top: 60px; width: 25%;">
                <canvas id="circleChart"></canvas>
              </div>
                <div class=''>



                    <div class="col-sm-6 mx-auto px-24 pt-5 pb-8">
                        <h1 class="text-left pl-5 text-black py-10 font-bold">EXERCISE LOG</h1>
                        <!-- <form action="/getExcercises" method="post">
                            <label for="cars">Choose a Plan:</label>
                            <select name="savedWorkouts" id="savedWorkouts">
                                <% workouts.forEach(workout => { %>
                                <% if (workout.saved == true) { %>
                                <option name="savedWorkout" value="<%= workout.workoutJSON.workoutName%>">
                                    <%= workout.workoutJSON.workoutName %></option>
                                <%} %>
                                <%}) %>
                            </select>
                            <button type="submit" value="submit"> submit </button>
                        </form> -->
                        <table class="workoutTable py-10 rounded-lg bg-white shadow">
                            <tr class="headOfTable">
                                <th>
                                    Date
                                </th>
                                <th>
                                    Exercise Name
                                </th>
                                <th>
                                    Set
                                </th>
                                <th>
                                    Reps
                                </th>
                                <th>
                                    Weight Used
                                </th>
                                <th>
                                    PR ?
                                </th>
                                <th>
                                    Rate <br> (difficulty)
                                </th>
                                <th class="text-red-700 px-4">
                                    Remove
                                </th>
                            </tr>
                            <% logs.forEach( log => { %>
                            <tr class="newRow text-center border-2 border-gray-100">
                                <td class="py-3 px-6">
                                  <% let month = log.date.getUTCMonth() + 1; //months from 1-12 %>
                                  <% let day = log.date.getUTCDate(); %>
                                  <% let year = log.date.getUTCFullYear(); %>

                                  <% let newdate = year + "/" + month + "/" + day; %>
                                  
                                  <%= newdate %>
                                </td>
                                <td>
                                  <%= log.exercise %>
                                </td>
                                <td class="p-6">
                                  <%= log.set %>
                                </td>
                                <td class="p-6">
                                  <%= log.reps %>
                                </td>
                                <td>
                                  <%= log.weight %>
                                </td>
                                <td>
                                    <input class="workout rounded-md w-20" type="checkbox" value="true">
                                </td>
                                <td>
                                    <form class="w-36">
                                        <input type="radio" id="1" name="rate" value="1">
                                        <label for="1">1</label>
                                        <input type="radio" id="2" name="rate" value="2">
                                        <label for="2">2</label>
                                        <input type="radio" id="3" name="rate" value="3">
                                        <label for="3">3</label>
                                        <input type="radio" id="4" name="rate" value="4">
                                        <label for="4">4</label>
                                        <input type="radio" id="5" name="rate" value="5">
                                        <label for="5">5</label>
                                      </form>
                                </td>
                                <td class="text-red-700">
                                  <form
                                  action="/logs/delete/<%= log._id %>?_method=DELETE"
                                  method="POST"
                                  class="inline-flex px-3"
                                >
                              <button class="btn btn-primary rounded-md fa-regular fa-square-minus" type="submit"></button> 
                            </form>
                                </td>
                            </tr>
                            <% }) %> 
                        </table>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</main>
<script src="main.js"></script>

<%- include('partials/footer') -%>